@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navbar styling*/
.navbar{
    position: fixed;
    padding: 15px 0;
    background: crimson;
    width: 100%;
    font-family: Ubuntu, sans-serif;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px; 
}

/*home section styling*/
.home{
    display: flex;
    background: url("") no-repeat center;
    height: 100vh;
    color: #110d8a;
    min-height: 500xp;
    font-family: Ubuntu, sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
     font-size: 27px;
}